* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.themed-page {
  height: 100vh;
}

.theme-light.theme-light {
  background-color: #fff;
}

.theme-dark.theme-dark {
  color: #dedede;
  background-color: #000;
}